$primary-color: #444;
$secondary-color: #0074d9;
$show-home-image: true;
$home-image: url("/dist/img/New\ York\ Rain.jpg");
$portrait-image: url("/dist/img/Meeran_suit.jpg");
$background-opacity: 0.5;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-image {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba($primary-color, $background-opacity);
      }
    }
  }
}
